<div ng-init="load()">



<h3>Adicionar nova Mensagem</h3>

<form class="form-horizontal" ng-submit="add(item)">
    <div class="form-group">
        <label class="col-sm-2 control-label" for="nome">Texto:</label>
        <div class="col-sm-10">
            <textarea type="text" maxlength="140" name="nome" id="nome"
             ng-model="item.nome" required="required" class="form-control"> </textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Salvar</button>
            <a href="#/post-comentario" class="btn btn-default">Mostar comentário</a><br><br>
            <p>Se o botão MOSTRAR COMENTÁRIO não funcionar, de um F5 no navegador.</p>
            
        </div>
    </div>
</form>
<table class="table">
    <thead>
        
        <th>Mensagens</th>
        
    </thead>
    <tbody>
        <tr ng-repeat="registro in registros">
            
            <td>{{registro.nome}}</td>
            
        </tr>
    </tbody>
</table>
</div>